<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
        <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#toggles2"></use>
            </svg> </div>
        <div>
            <h3 class="fs-2 text-body-emphasis">O que é o REStooq?</h3>
            <p>O REStooq é uma plataforma online de gestão de estoque que ajuda empresas a controlar entradas, saídas, produtos, fornecedores e relatórios de forma simples e automatizada.</p> <a href="#" class="btn btn-primary">
                Primary button
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#cpu-fill"></use>
            </svg> </div>
        <div>
            <h3 class="fs-2 text-body-emphasis">Quem pode usar o sistema?</h3>
            <p>Pequenas, médias e grandes empresas que desejam ter controle total do estoque, reduzir perdas e otimizar a reposição de produtos.</p> <a href="#" class="btn btn-primary">
                Primary button
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#tools"></use>
            </svg> </div>
        <div>
            <h3 class="fs-2 text-body-emphasis">O sistema funciona offline?</h3>
            <p>Atualmente, não. É necessário acesso à internet para sincronização dos dados, mas o sistema é leve e rápido mesmo em conexões lentas.</p> <a href="#" class="btn btn-primary">
                Primary button
            </a>
        </div>
    </div>
</div>