<div class="container mt-5">
  <div class="card shadow-sm col-md-6 mx-auto p-4">
    <h3 class="text-center mb-3">Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Campo de Login -->
      <div class="mb-3">
        <label>Nome de Login</label>
        <input
          type="text"
          formControlName="login"
          placeholder="Seu nome de login"
          class="form-control"
        />
        <div
          class="text-danger mt-1"
          *ngIf="f['login']?.invalid && f['login']?.touched"
        >
          <small *ngIf="f['login']?.errors?.['required']">
            O nome de login é obrigatório
          </small>
          <small *ngIf="f['login']?.errors?.['minlength']">
            Mínimo de 3 caracteres
          </small>
        </div>
      </div>

      <!-- Campo de Senha -->
      <div class="mb-3">
        <label>Senha</label>
        <input
          type="password"
          formControlName="password"
          placeholder="*******"
          class="form-control"
        />
        <div
          class="text-danger mt-1"
          *ngIf="f['password']?.invalid && f['password']?.touched"
        >
          <small *ngIf="f['password']?.errors?.['required']">
            A senha é obrigatória
          </small>
          <small *ngIf="f['password']?.errors?.['minlength']">
            Mínimo de 6 caracteres
          </small>
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100 mt-3">
        Entrar
      </button>
    </form>

    <p class="text-center mt-3">
      Não tem conta?
      <a routerLink="/cadastro">Cadastre-se</a>
    </p>
  </div>
</div>