<app-public-header></app-public-header>

<div class="auth auth-center">
  <div class="form-card">
    <h2><i class="bi bi-box-arrow-in-right"></i> Entrar</h2>
    <p class="subtitle">Acesse seu painel com e-mail e senha.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="grid">
      <label>Email
        <input id="loginInput" type="email" formControlName="email" placeholder="seu@email.com" />
        <small class="error" *ngIf="f['email']?.touched && f['email']?.errors?.['required']">Email  obrigatório</small>
        <small class="error" *ngIf="f['email']?.touched && f['email']?.errors?.['email']">Email inválido</small>
      </label>

      <label>Senha
        <input id="passwordInput" type="password" formControlName="password" placeholder="mínimo 6 caracteres" />
        <small class="error" *ngIf="f['password']?.touched && f['password']?.errors?.['required']">Senha  obrigatória</small>
        <small class="error" *ngIf="f['password']?.touched && f['password']?.errors?.['minlength']">Minimo de 6 caracteres</small>
      </label>

      <div class="actions">
        <button class="btn primary" [disabled]="loginForm.invalid || submitting">
          <span *ngIf="!submitting">Entrar</span>
          <span *ngIf="submitting"><i class="bi bi-arrow-repeat"></i> Entrando...</span>
        </button>
      </div>
    </form>

    <p class="error" *ngIf="errorMsg">{{errorMsg}}</p>
    <p class="alt">Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
  </div>
</div>


